<div class="row home">
  <div class="center">

    <h4 class="title">Melhore sua empresa com o Secret Coworker</h4>
    <h5 class="subtitle">Crie a sua brincadeira apenas com a área, nome e email dos seus coworkers</h5>
    <h5 class="subtitle2">Rápido e fácil! <i class="material-icons home-icon">favorite</i></h5>

    <%= form_tag("/campaigns", method: "post") do %>
      <%= submit_tag("Criar Agora", class: "waves-effect waves-light btn home-button") %>
    <% end %>
  </div>
</div>
