.home{
  margin-top: 15%;

  .home-icon{
    color: #e86252;
    font-size: 24px;
  }
  .home-button{
    background-color: #e86252
  }
  .title{
    color: #ffffff;
    margin-bottom: 30px;
  }
  .subtitle{
    color: #ffffff;
    margin-bottom: 30px;
  }
  .subtitle2{
    color: #ffffff;
    margin-bottom: 40px;
  }
  .background{

  }
}
